.capa1
{
	margin-left: 25%;
	padding: 12px;
	height: 1000px;
	
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width:20%;
	height: 100%;
	position: fixed;
	background-color:#A4CAFA ;
	overflow: auto;
}
li a
{
	display: block;
	background-color:#A4CAFA;
	padding: 8px 10px;
	text-decoration: none;
	color:white;
}
li a:hover
{
	background-color: lightcyan;
	color:black;
}
li a.activo
{
	background-color:blueviolet;
	color:whitesmoke;
}
li a:hover:not(.activo)
{
	background-color:lightcyan;
	color: black;
}
h1,h2{

	font-family:"Lobster", "Papyrus", fantasy;
}
	
@font-face
{
	font-family:"parrafos";
	src: url("Big_Shoulders_Inline,Big_Shoulders_Stencil,Emblema_One,Fjalla_One,Playfair_Display/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght")format("truetype");
}
p{
	font-family:'parrafos';
	text-align: justify;
}
