*{
	margin: 0;
	padding: 0;
}
.contenedor
{
	display:flex;
	flex-direction: column;
	height: 100vh;/*viewport height*/

}
.encabezado
{
	background: #9A2EFE;
	color: white;
	font-family:impact;
	text-align: center;
	padding: 25px;
	font-size: 20px;
}
.contenido
{
	display: flex;
	flex-direction: space-between;
	flex:1;/*ocu´pa el espacio restante*/
}
.texto
{
	padding: 15px;
	margin: 15px;
	border: 1px solid;
	flex: 1;
	box-shadow: 20px 20px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

footer
{
	text-align: center;
	color: white;
	background:#AC58FA;
	font-family:Lobster;
	padding: 10px;

}
@media(max-width:500px)
{
	.contenido
	{
		/*background: gray;*/
		flex-direction:column;
	}
}